@import url("abertura.css");
@import url("apresentacao.css");
@import url("clientes.css");
@import url("footer.css");
@import url("header.css");
@import url("servicos.css");
@import url("formulario.css"); 

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --fonte-texto: "Montserrat", sans-serif;
    --fonte-destaque: "Anton", sans-serif;
    --cor-vermelha: rgb(163, 9, 9);
    --cor-vermelha2: rgb(238, 63, 63);
    --cor-cinza-escuro: rgb(57, 57, 59);
}

html {
    scroll-behavior: smooth;
}

body{
    color: var(--cor-cinza-escuro);
    width: 100%;
    background-image: url("../img/fundo_losango.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

::selection {
    color: var(--cor-vermelha);
    background: rgb(224, 178, 178);
  }

/* ::-webkit-scrollbar:horizontal {
    display: none;
} */

h1 {
    display: flex;
    position: relative;
    margin-top: 1em;
    font-family: var(--fonte-destaque);
    /* width: 50%; */
    text-align: center;
    font-size: 5em;
    justify-content: center;
    color: var(--cor-cinza-escuro);
    text-shadow: 2px 2px 4px rgb(14, 13, 13);
}

h2 {
    font-size: 3em;
    font-family: var(--fonte-texto);
    font-style: normal;
    text-align: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    font-family: var(--fonte-destaque);
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

p {
    font-size: 1.3em;
    line-height: 1.7em;
    color: var(--cor-cinza-escuro);
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#voltar__topo{
    width: 3em;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Mobile First - MediaQuery */
@media(max-width:834px) {
    .material-symbols-outlined {
        color: var(--cor-vermelha);
        cursor: pointer;
        z-index: 200;
    }

    a {
        font-size: 0.9em;
    }

    h1 {
        font-size: 2.9em;
        text-shadow: 1px 1px 3px;
    }

    h2 {
        font-size: 2.5em;
    }
}

@media(min-width:834px){
    .material-symbols-outlined{
        display:none;
    }
}
/* HEADER  */



@media(min-width:540px) {
    /* voltar ao topo*/
    #voltar__topo {
        display: none;
    }
}